buoi3/2.1/student_IDREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>

                <!-- Khai báo student -->
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="date" type="xs:date" />
                        </xs:sequence>
                        <!-- id của student phải duy nhất -->
                        <xs:attribute name="id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Khai báo enrollment -->
                <xs:element name="enrollment" maxOccurs="unbounded">
                    <xs:complexType>
                        <!-- studentRef tham chiếu tới student/@id -->
                        <xs:attribute name="studentRef" type="xs:IDREF" use="required" />
                        <xs:attribute name="course" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>